#box {
z-index: 1;
position: absolute;
margin-top: 10px;
height: 60px;
background-color: #61B7ED;
}
body{
background-color: #FEFEFE;
}
#title{
font-family: Consolas;
text-align: center;
font-size: 29px;
}
/* Navigation Menu Start*/
*{
margin: 0px;
padding: 0px;
}
/* rules for navigation menu */
/* ======================================*/
ul#navmenu,ul.sub1,ul.sub2{
list-style-type: none;
font-size: 12pt;
position: absolute;
top: 85px;
}
ul#navmenu li{
width: 125px;
text-align: center;
position: relative;
float: left;
margin-right: 4px;
}
ul#navmenu a{
text-decoration: none;
display: block;
width: 125px;
height: 25px;
line-height: 25px;
background-color: #FEFEFE;
border-bottom: 10px;
border-color: #ABABAB;
}
ul#navmenu .sub1 a{
margin-top: 5px;
}
ul#navmenu .sub2 a{
margin-left: 1px;
}
ul#navmenu li:hover > a{
background-color: #E1E1E1;
}
ul#navmenu li:hover a:hover{
background-color: #F0F0F0
}
ul#navmenu ul.sub1{
display: none;
position: absolute;
top: 26px;
left: 0px;
}
ul#navmenu ul.sub2{
display: none;
position: absolute;
top: 0px;
left: 121px;
}
ul#navmenu li:hover .sub1{
display: block;
}
ul#navmenu .sub1 li:hover .sub2{
display: block;
}
.darrow{
font-size: 11pt;
color: #00FF00;
position:absolute;
top: 5px;
right: 4px;
}
.rarrow{
font-size: 13pt;
color: #00FF00;
position:absolute;
top: 6px;
right: 4px;
}
/* Navigation Menu End*/
#topRow{
background-color: #01AEBB;
width: 100%-10px;
height: 60px;
border: 10px solid #7FC9FF;
}
