/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #D0FFB6;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #BAF7F9;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #D0FFB6;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #BAF7F9;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #D0FFB6;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #BAF7F9;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: fixed;
  background-color: #D0FFB6;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 1031px;
}
/*--row3--*/
#_17_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 366px;
  left: 100px;
}
#_18_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 366px;
  left: 233px;
}
#_19_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 366px;
  left: 366px;
}
#_20_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 366px;
  left: 499px;
}
#_21_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 366px;
  left: 632px;
}
#_22_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 366px;
  left: 765px;
}
#_23_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 366px;
  left: 898px;
}
#_24_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 366px;
  left: 1031px;
}
/*--row4--*/
#_25_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 499px;
  left: 100px;
}
#_26_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 499px;
  left: 233px;
}
#_27_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 499px;
  left: 366px;
}
#_28_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 499px;
  left: 499px;
}
#_29_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 499px;
  left: 632px;
}
#_30_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 499px;
  left: 765px;
}
#_31_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 499px;
  left: 898px;
}
#_32_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 499px;
  left: 1031px;
}
/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 1031px;
}
/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 1031px;
}
