/*--Checkerboard--*/
.A , .B , #resetTurn , #reportbox , #advanced , .saveoption , #customsave , #customdelete , #savefilesave , #savefileload , #savefiledelete , #selectfile , #piececolour , #instruct{
  border-color: #898989;
  border-style: solid;
  border-width: 1px;
}
.A , .B , #resetTurn , #selectOption, .saveoption , #customsave , #customdelete , #savefilesave , #savefileload , #savefiledelete , #selectfile , #promote , #castle , #instruct{
  cursor: pointer;
}
.A , .B {
  position: absolute;
  width: 64px;
  height: 64px;
}
.A {
  background-color: #BAF7F9;
}
.B {
  background-color: #D0FFB6;
}
/*Boundaries*/
.none {
  display: none;
}
/*Control buttons*/
#instruct {
  position: absolute;
  background-color: #D8FF6D;
  width: 128px;
  height: 64px;
  top: 143px;
  left: 557px;
}
#resetTurn {
  position: absolute;
  background-color: #ACA3FF;
  width: 128px;
  height: 64px;
  top: 488px;
  left: 557px;
}
#reportbox {
  position: absolute;
  left: 690px;
  top: 5px;
  width: 272px;
  background-color: #E0E5E4;
  text-align: center;
}
#advanced {
  position: absolute;
  left: 972px;
  top: 5px;
  width: 316px;
  background-color: #CBF2EE;
}
#central{
  text-align: center;
  height: 50px;
}
#container {
  height: 100px;
}
#top {
  height: 32px;
}
#colour {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 60px;
  height: 20px;
}
#piece {
  position: absolute;
  top: 30px;
  left: 72px;
  width: 65px;
  height: 20px;
}
#num {
  position: absolute;
  width: 26px;
  height: 14px;
  top: 30px;
  left: 139px;
}
#coord {
  position: absolute;
  width: 36px;
  height: 14px;
  top: 30px;
  left: 171px;
}
#customsave {
  position: absolute;
  background-color: #A4F9E6;
  width: 42px;
  height: 20px;
  top: 30px;
  left: 213px;
}
#customdelete {
  position: absolute;
  background-color: #A4F9E6;
  width: 49px;
  height: 20px;
  top: 30px;
  left: 257px;
}
#savefile {
  position: absolute;
  width: 26px;
  height: 14px;
  top: 55px;
  left: 10px;
}
#savefilesave {
  position: absolute;
  background-color: #A4F9E6;
  width: 42px;
  height: 20px;
  top: 55px;
  left: 42px;
}
#savefileload {
  position: absolute;
  background-color: #A4F9E6;
  width: 42px;
  height: 20px;
  top: 55px;
  left: 86px;
}
#savefiledelete {
  position: absolute;
  background-color: #A4F9E6;
  width: 49px;
  height: 20px;
  top: 55px;
  left: 130px;
}
#selectfile {
  position: absolute;
  background-color: #A4F9E6;
  width: 79px;
  height: 20px;
  top: 55px;
  left: 181px;
}
.saveoption {
  position: absolute;
  background-color: #A4F9E6;
  width: 128px;
  height: 64px;
  left: 557px;
}
#save {
  top: 281px;
}
#load {
  top: 350px;
}
#delete {
  top: 419px;
}
#piececolour {
  position: absolute;
  background-color: #FFFFFF;
  width: 128px;
  height: 64px;
  left: 557px;
  top: 212px;
}
#promote {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 76px;
  left: 6px;
}
#promotedescrip {
  position: absolute;
  top: 65px;
  left: 34px;
}
#castle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 96px;
  left: 6px;
}
#castledescrip {
  position: absolute;
  top: 85px;
  left: 34px;
}
/*Main Board*/
.row1 {
top: 5px;
}.row2 {
 top: 74px;
}.row3 {
 top: 143px;
}.row4 {
 top: 212px;
}.row5 {
 top: 281px;
}.row6 {
 top: 350px;
}.row7 {
 top: 419px;
}.row8 {
 top: 488px;
}
.column1 {
 left: 5px;
}.column2 {
 left: 74px;
}.column3 {
 left: 143px;
}.column4 {
 left: 212px;
}.column5 {
 left: 281px;
}.column6 {
 left: 350px;
}.column7 {
 left: 419px;
}.column8 {
 left: 488px;
}
