/*--Checkerboard--*/
.A {
background-color: #BAF7F9;
width: 128px;
height: 128px;
}
.B {
background-color: #D0FFB6;
width: 128px;
height: 128px;
}
/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 233px;
  left: 1031px;
}
/*--row3--*/
#_17_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 366px;
  left: 100px;
}
#_18_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 366px;
  left: 233px;
}
#_19_ {
  width: 128px;
  height:128px;
  position: absolute;
  top: 366px;
  left: 366px;
}
#_20_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 366px;
  left: 499px;
}
#_21_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 366px;
  left: 632px;
}
#_22_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 366px;
  left: 765px;
}
#_23_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 366px;
  left: 898px;
}
#_24_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 366px;
  left: 1031px;
}
/*--row4--*/
#_25_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 499px;
  left: 100px;
}
#_26_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 499px;
  left: 233px;
}
#_27_ {
  width: 128px;
  height:128px;
  position: absolute;
  top: 499px;
  left: 366px;
}
#_28_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 499px;
  left: 499px;
}
#_29_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 499px;
  left: 632px;
}
#_30_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 499px;
  left: 765px;
}
#_31_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 499px;
  left: 898px;
}
#_32_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 499px;
  left: 1031px;
}
/*--row5--*/
#_33_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 632px;
  left: 100px;
}
#_34_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 632px;
  left: 233px;
}
#_35_ {
  width: 128px;
  height:128px;
  position: absolute;
  top: 632px;
  left: 366px;
}
#_36_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 632px;
  left: 499px;
}
#_37_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 632px;
  left: 632px;
}
#_38_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 632px;
  left: 765px;
}
#_39_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 632px;
  left: 898px;
}
#_40_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 632px;
  left: 1031px;
}
/*--row6--*/
#_41_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 765px;
  left: 100px;
}
#_42_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 765px;
  left: 233px;
}
#_43_ {
  width: 128px;
  height:128px;
  position: absolute;
  top: 765px;
  left: 366px;
}
#_44_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 765px;
  left: 499px;
}
#_45_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 765px;
  left: 632px;
}
#_46_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 765px;
  left: 765px;
}
#_47_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 765px;
  left: 898px;
}
#_48_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 765px;
  left: 1031px;
}
/*--row7--*/
#_49_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 898px;
  left: 100px;
}
#_50_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 898px;
  left: 233px;
}
#_51_ {
  width: 128px;
  height:128px;
  position: absolute;
  top: 898px;
  left: 366px;
}
#_52_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 898px;
  left: 499px;
}
#_53_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 898px;
  left: 632px;
}
#_54_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 898px;
  left: 765px;
}
#_55_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 898px;
  left: 898px;
}
#_56_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 898px;
  left: 1031px;
}
/*--row8--*/
#_57_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 1031px;
  left: 100px;
}
#_58_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 1031px;
  left: 233px;
}
#_59_ {
  width: 128px;
  height:128px;
  position: absolute;
  top: 1031px;
  left: 366px;
}
#_60_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 1031px;
  left: 499px;
}
#_61_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 1031px;
  left: 632px;
}
#_62_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 1031px;
  left: 765px;
}
#_63_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 1031px;
  left: 898px;
}
#_64_ {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 1031px;
  left: 1031px;
}
