/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 1031px;
}
/*--row3--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 1031px;
}
/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 1031px;
}
/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 233px;
}
#_3_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 366px;
}
#_4_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 499px;
}
#_5_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 632px;
}
#_6_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 765px;
}
#_7_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 100px;
  left: 898px;
}
#_8_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 100px;
  left: 1031px;
}
/*--row2--*/
#_9_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 100px;
}
#_10_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 233px;
}
#_11_ {
  width: 128px;
  height:128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 366px;
}
#_12_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 499px;
}
#_13_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 632px;
}
#_14_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 765px;
}
#_15_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #D0FFB6;
  top: 233px;
  left: 898px;
}
#_16_ {
  width: 128px;
  height: 128px;
  position: absolute;
  background-color: #BAF7F9;
  top: 233px;
  left: 1031px;
}
