/*--row1--*/
#_1_ {
  width: 128px;
  height: 128px;
  background-color: #BAF7F9;
  top: 100px;
  left: 100px;
}
#_2_ {
  width: 128px;
  height: 128px;
  background-color: #D0FFB6;
  top: 100px;
  left: 333px;
}
#_3_ {
  width: 128px;
  height:128px;
  background-color: #BAF7F9;
  top: 100px;
  left: 466px;
}
#_4_ {
  width: 128px;
  height: 128px;
  background-color: #D0FFB6;
  top: 100px;
  left: 599px;
}
#_5_ {
  width: 128px;
  height: 128px;
  background-color: #BAF7F9;
  top: 100px;
  left: 732px;
}
#_6_ {
  width: 128px;
  height: 128px;
  background-color: #D0FFB6;
  top: 100px;
  left: 865px;
}
#_7_ {
  width: 128px;
  height: 128px;
  background-color: #BAF7F9;
  top: 100px;
  left: 998px;
}
#_8_ {
  width: 128px;
  height: 128px;
  background-color: #D0FFB6;
  top: 100px;
  left: 1131px;
}
/*--row2--*/

